/* Write your CSS here */

.header {
  background-color: #cbd5e1;
  text-align: center;
  padding: 30px;
  color: #475569;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .header {
    font-size: 45px;
    margin-bottom: 12px;
  }
}
